* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  min-height: 100vh;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#supergraphic {
  width: 100%;
}

.containerLogo {
  display: flex;
  width: 118.8px;
  height: 50px;
}

.logo {
  width: 100%;
}

i.bi.bi-house.icon {
  font-size: 20px;
  color: #000000;
}

/* QR CODE */
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-top: 50px;
}

.reader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reader-container h2 {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

#qr-reader {
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
}

#resultado {
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

/* Tour Virtual */
.tour-virtual {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-predio {
  padding-bottom: 5px;
  text-align: center;
}

.fazer-tour {
  width: 216px;
  height: 54px;
  color: #ffffff;
  background-color: #9E2896;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
}

.fazer-tour:hover {
  cursor: pointer;
}

